@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body{
  background-color: #4c5a7a;
  /* background-image: url('../public/asset-background.jpeg');
  background-position: top right;
  background-size: 50%;
  background-repeat: no-repeat; */
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.social-icon {
  color: #9399a2;
}

button:disabled {
  cursor: not-allowed;
  background-color: #E5E7EB;
  color: gray;
}
